body {
  font-family:'GroteskNeu', sans-serif !important;
  background-color: #000 !important;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif,'GroteskNeue'; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  padding: 0;
  margin: 0;
  
}

h2{
  padding: 0;
  margin: 0;
}

h1{
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace,'GroteskNeue';
}

@font-face{
  font-family: 'GroteskNeue';
  src: local('GroteskNeue'),
  url('../public/Fonts/FKGroteskNeueTrial-Black-BF6576818b4c472.otf') format('opentype')
  url('../public/Fonts/FKGroteskNeueTrial-BlackItalic-BF6576818becb0d.otf')format('opentype')
  url('../public/Fonts/FKGroteskNeueTrial-Bold-BF6576818bd3700.otf')format('opentype')
  url('../public/Fonts/FKGroteskNeueTrial-BoldItalic-BF6576818c39d11.otf')format('opentype')
  url('../public/Fonts/FKGroteskNeueTrial-Italic-BF6576818c041e2.otf')format('opentype')
  url('../public/Fonts/FKGroteskNeueTrial-Light-BF6576818c0f3e8.otf')format('opentype')
  url('../public/Fonts/FKGroteskNeueTrial-Medium-BF6576818c3a00a.otf')format('opentype')
  url('../public/Fonts/FKGroteskNeueTrial-MediumItalic-BF6576818c2aaf8.otf')format('opentype')
  url('../public/Fonts/FKGroteskNeueTrial-Regular-BF6576818c3af74.otf')format('opentype')
  url('../public/Fonts/FKGroteskNeueTrial-Thin-BF6576818c2a14c.otf')format('opentype')
  url('../public/Fonts/FKGroteskNeueTrial-ThinItalic-BF6576818c5cbd8.otf')format('opentype')
  ;
  font-weight: normal;

}


