.feature-container{
    position: relative;
    padding-bottom: 30px;
    z-index: 0;
    @media screen and (max-width:750px) {
       margin-top: 30px;
       padding-top: 20px;
        
    }
    .features-left{
        padding-bottom:  50px;
    .card-content{
        width: 100%;
        height: 200px;
        background-color:#171717;
        border-radius: 12px;
    }
    .feature-option{
            display: flex;
            gap: 10px;
            padding-top: 20px;
        p{
            font-size: 14px;
            color: #fff;
            border: 1px solid #666666;
            padding: 4px 8px 4px 8px;
            border-radius: 21px;
        }
    }
    .feature-title{
        h4{
            color: #fff;
        }
    }
}
.features-right-title{
    @media screen and (max-width:750px) {
        position: absolute;
        top: -8%;
        z-index: 0;
        
    }
    padding-bottom: 20px;
    p{
        color: #fff;
    }
    h2{
        color: #fff;
        max-width: 200px;
    }
}

}