.footer-wrapper{
    padding-top: 50px;
    padding-bottom: 50px;
    .footer-left{
        h1{
            color: #fff;
            max-width: 400px;
            @media screen and (min-width:320px) and (max-width:969px) {
                max-width: 300px;
                
            }
        }
        .social-icons{
            display: flex;
            gap: 8px;
            align-items: center;
            padding-top: 20px;
            padding-bottom: 20px;
            svg{
                font-size: 45px;
                padding: 10px;
                border: 1px solid #FFFFFF33;
                border-radius: 50%;
                cursor: pointer;
                color: #fff;
              
            }
        }

        .contact-num{
            display: flex;
            gap: 10px;
            align-items: center;
            padding-bottom: 20px;
            p{
                padding: 0;
                margin: 0;
                color: #fff;
            }

            svg{
                color: #fff;
            }
        }
    }

    .footer-right{
        @media screen and (min-width:320px) and (max-width:969px) {
            margin-top: 30px;
            
        }

        button{
            margin-top: 30px;
            border: 1px solid #fff;
            background-color: #000;
            color: #fff;
            padding: 10px 15px 10px 15px;
            border-radius: 21px;
            display: flex;
            align-items: center;
            gap: 8px;
            &:hover{
                background-color: #fff;
                border: 1px solid transparent;
                color: #000 
            }
        }
        .form-control{
            margin-bottom: 20px;
            background-color: #000;
            border-top: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid #FFFFFF26;
            border-radius: 0px  ;
            &:focus{
                border-color: black !important;
            }
        }
        .form-label{
            color: #fff;
            
        }
    }

    .footer-bottom{
        margin-top: 50px;
        padding-top: 20px;
        border-top: 1px solid #FFFFFF26;
        display: flex;
        justify-content: space-between;
        h2{
            color: #fff;
            font-weight: 600;
        }
        .policy{
            display: flex;
            gap: 15px;
            p{
                color: #fff;
            }
        }
    }
}